<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">研发工程师</h3>
                            <div class="time">2016 - 至今</div>
                        </div><!--//upper-row-->
                        <div class="company">金证科技股份有限公司，深圳</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>负责公司前瞻技术研究，如 Docker 容器技术、Kubernetes 容器集群管理框架以及 Spark 大数据计算框架等。</p>
                        <p>负责各项目 KJDP 平台应用 Docker 容器设计、开发、优化和维护工作。</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java 研发工程师</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">湘雅医院，长沙</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>负责湘雅大数据鼻咽癌专科电子病历系统需求分析与开发。</p>

                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
