<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经验</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">安信用户中心</span> - <span class="project-tagline">2016.7 - 2017.1</span>
                    <p>安信用户中心是面向互联网用户，集中解决不同渠道注册账户的统一管理、账户之间的关联关系即安信通的管理、不同账户之间相互转换的全生命周期管理，以及面向安信通提供的一些公共服务数据服务。</p>
                    <p>本人主要负责安信用户中心 KJDP 平台及用户中心应用容器化部署，并保证容器服务在开发环境、集成开发环境、测试环境、UAT 测试环境以及生产环境中稳定运行，解决环境部署、运行过程中 Docker 容器相关问题。</p>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title">湘雅医院鼻咽癌专科电子病历系统</span> -
                    <span class="project-tagline"> 2014.7 - 2015.1</span>
                    <p>由于湘雅医院现有病历系统中部分出、入院资料缺失，而且随访和科研信息系统空白。为方便鼻咽癌科室日常生产任务、医生科研特别是湘雅大数据的需要，针对鼻咽癌科室的特殊情况，建立一个完整的电子病历科研系统变得十分必要。该系统使用 Java 作为程序开发语言，采用 B/S 的构架模式，运用 CDA 技术、SSH框架、WEB 服务和 HL7 等相关网络协议，依据对系统功能、性能需求的分析，以患者、医务人员、医院、科室等实体建立关系模型，按照 J2EE 的 MVC 上层体系结构进行系统设计，实现电子病历和医院信息系统之间的数据交换，并整合医院内部分散的信息资源，避免形成“信息孤岛”，提高医疗服务质量和效率，为医生做出正确的临床决策打好良好的基础。</p>
                    <p>本人主要负责鼻咽癌专科电子病历系统需求分析与开发，并完成病历系统与医院信息中心对接等工作。</p>
                </div><!--//item-->

                <!-- <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div> -->
            </section><!--//section-->
