<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>技能专长</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Docker</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Kubernetes</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="96%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Linux</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="94%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Scala</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">SSH</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Apache Spark</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Apache Tomcat</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Apache Maven</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Oracle</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Mysql &amp; MariaDB</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Bootstrap</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">CAD &amp; Photoshop</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->
